html, body {
    height: 100%;
    margin: 0;
}

.grid-container {
    height: 920px;
    width: 1000px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 0.5fr 1.3fr;
    grid-template-rows: 1.2fr 1.3fr 1.2fr 0.5fr;
    gap: 1px 1px;
    grid-template-areas: "category-timegraph-area category-timegraph-area category-timegraph-area sidebar" "category-analysis-area category-analysis-area category-analysis-area sidebar" "category-analysis-area category-analysis-area category-analysis-area sidebar" "timeline-area timeline-area timeline-area timeline-area";
}

.sidebar {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1.2fr 0.8fr 1fr;
    gap: 1px 1px;
    grid-template-areas: "tag-trends-area tag-trends-area tag-trends-area" "wordcloud-area wordcloud-area wordcloud-area" "leaderboard-area leaderboard-area leaderboard-area";
    grid-area: sidebar;
}

.area-title {
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    z-index: 10;
    left: 20%;
}

/****** TIMELINE ******/

.timeline-area {
    position: relative;
    grid-area: timeline-area;
    background-color: aquamarine;
}

#range-label {
    text-align: center;
    font-style: bold;
}
#slider-container {
    position: relative;
    height:40px;
    background-color: #f2f2f9;
}

.slider {
    position: absolute;
    border: 1px solid #AAB;
    background: #BCE;
    height: 100%;
    width: 58px;
    top: 0px;
    cursor: move;
    /*margin:-0.5px;*/
}

.slider .handle {
    position: absolute;
    height: 9px;
    width: 9px;
    border: 1px solid #AAB;
    background: #9AC;

    /* Support for bootstrap */
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.slider .EE {
    right: -4px;
    cursor: e-resize;
}

.slider .WW {
    cursor: w-resize;
    left: -4px;
}

.slider .EE, .slider .WW {
    top: 50%;
    margin-top: -4px;
}

/****** CATEGORY TIMEGRAPH ******/

.category-timegraph-area {
    position: relative;
    grid-area: category-timegraph-area;
    outline: 1px solid black;
    outline-offset: -1px;
    overflow: hidden;
}

/****** CATEGORY ANALYSIS ******/

.category-analysis-area {
    position: relative;
    grid-area: category-analysis-area;
    outline: 1px solid black;
    outline-offset: -1px;
    overflow: hidden;
}

g.selected > .category-circle {
    opacity: 1;
    stroke: black;
}

g.not-selected {
    opacity: 0.2;
}

.cat-tooltip {	
    position: absolute;			
    text-align: center;			
    width: auto;					
    height: auto;					
    padding: 2px;				
    font: 12px sans-serif;		
    background: white;	
    border: 1px solid black;		
    border-radius: 5px;	
    pointer-events: none;			
}

.cat-tooltip > .tooltip-header {
    font-weight: bolder;
    margin-bottom: 3px;
}

.cat-tooltip > .tooltip-content {
    text-align: left;
    margin-left: 3px;
    margin-right: 3px;
}

.category-circle-text {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    z-index: 10;
}

/****** TAG TRENDS ******/

.tag-trends-area {
    position: relative;
    grid-area: tag-trends-area;
}

/****** WORDCLOUD ******/

.wordcloud-area {
    position: relative;
    grid-area: wordcloud-area;
    background-color: crimson;
    overflow: hidden;
}

/****** LEADERBOARD ******/

.leaderboard-area {
    position: relative;
    grid-area: leaderboard-area;
    overflow-y: scroll;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}