
body {
    height: 100%;
    margin: 0;
    margin-top: 5px;
    background-color: #DFE0E2;
}

.grid-container {
    background-color: #DFE0E2;
    padding: 15px;
    height: 900px;
    width: 1000px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 0.2fr 1.3fr;
    grid-template-rows: 1.7fr 1.3fr 1.2fr 0.5fr;
    gap: 10px 10px;
    grid-template-areas: "category-timegraph-area category-timegraph-area category-timegraph-area sidebar" "category-analysis-area category-analysis-area category-analysis-area sidebar" "category-analysis-area category-analysis-area category-analysis-area sidebar" "timeline-area timeline-area timeline-area timeline-area";
}

.sidebar {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1.2fr 0.8fr 1fr;
    gap: 10px 1px;
    grid-template-areas: "tag-trends-area tag-trends-area tag-trends-area" "wordcloud-area wordcloud-area wordcloud-area" "leaderboard-area leaderboard-area leaderboard-area";
    grid-area: sidebar;
}

.area-title {
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    z-index: 10;
    left: 20%;
}

/****** TIMELINE ******/

.timeline-area {
    background-color: #DFE0E2;
    position: relative;
    grid-area: timeline-area;
    font-family: Arial, Helvetica, sans-serif;
}

#range-label {
    text-align: center;
    font-style: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 150%;
    padding-top: 5px;
    margin: 0 auto;
    width: 300px;
}
#slider-container {
    position: relative;
    height:25px;
    background-color: #BFC1C5;
}

.slider {
    position: absolute;
    background: #e5989b;
    border-radius: 0.2em;
    height: 100%;
    width: 58px;
    top: 0px;
    cursor: move;
    /*margin:-0.5px;*/
}

.slider .handle {
    position: absolute;
    height: 12px;
    width: 12px;
    background: #e63946;
    border-radius: 8em;
    /* Support for bootstrap */
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.slider .EE {
    right: -6px;
    cursor: e-resize;
}

.slider .WW {
    cursor: w-resize;
    left: -6px;
}

.slider .EE, .slider .WW {
    top: 50%;
    margin-top: -4px;
}

/****** CATEGORY TIMEGRAPH ******/

.category-timegraph-area {
    background-color: white;
    border: solid 3px #BFC1C5;
    border-radius: 0.3em;
    position: relative;
    grid-area: category-timegraph-area;
    overflow: hidden;
}

/****** CATEGORY ANALYSIS ******/

.category-analysis-area {
    background-color: white;
    border: solid 3px #BFC1C5;
    border-radius: 0.3em;
    position: relative;
    grid-area: category-analysis-area;
    overflow: hidden;
}

g.selected > .category-circle {
    opacity: 1;
    stroke: black;
}

g.not-selected {
    opacity: 0.2;
}

.cat-tooltip {	
    position: absolute;			
    text-align: center;			
    width: auto;					
    height: auto;					
    padding: 2px;				
    font: 12px sans-serif;		
    background: white;	
    border: 1px solid black;		
    border-radius: 5px;	
    pointer-events: none;			
}

.cat-tooltip > .tooltip-header {
    font-weight: bolder;
    margin-top: 8px;
    margin-bottom: 8px;
}

.cat-tooltip > .tooltip-content {
    text-align: center;
    margin-left: 3px;
    margin-right: 3px;
    line-height: 1.5em;
}

.category-circle-text {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    z-index: 10;
}

#resize-button{
    position: absolute;
    left: 2px;
    top: 2px;
}

/****** TAG TRENDS ******/

.tag-trends-area {
    background-color: white;
    border: solid 3px #BFC1C5;
    border-radius: 0.3em;
    position: relative;
    grid-area: tag-trends-area;
}

.xaxis_label{
    font: 10px sans-serif;
    text-anchor: middle;		
}

#trend_dropdown{
    width: 180px;
    position: absolute;
    left: 2px;
    top: 2px;
}

.heatmap_rect{
    stroke: black;
    stroke-width : .5;
    stroke-linecap: round;
    stroke-opacity: .5;
}
/****** WORDCLOUD ******/

.wordcloud-area {
    position: relative;
    border: solid 3px #BFC1C5;
    border-radius: 0.3em;
    grid-area: wordcloud-area;
    background-color: white;
    overflow: hidden;
}

/****** LEADERBOARD ******/

.leaderboard-area {
    background-color: white;
    border: solid 3px #BFC1C5;
    border-radius: 0.3em;
    position: relative;
    grid-area: leaderboard-area;
    overflow-y: scroll;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

#selectButton {
    position: absolute;
    left: 2px;
    top: 2px;
    width: 120px;
    margin: 0;
}